@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
body{

    margin: 0;
}
/* Início do header */
header{
    /* padding-left: 80px;
    padding-right: 80px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0349C2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


 

.ul_nav{
    font-size: 18px;
    list-style: none;
    font-family: 'Poppins';
    display: none; 

}

.ul_nav li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins';
    font-weight: 600;
}

.ul_nav li:hover{
    transform: scale(1.05);

}



.icone {
    font-size: 18px;
    display: inline-block; /*Sempre que quise dar altura para o elemento e ele não for um elemento, devemos usar display: block ou inline block;*/
    color: white;
    text-decoration: none;
    padding-top: 0;
    margin-top: 0;
}

.menu a {
    /* color: black; */
    font-weight: bold;
    /* background-color: white; */
    background-color: #0349C2;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 50px;
}


    /*Esta classe será MANIPULADA via JS*/
    .menu-aberto{
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        padding-left: 0;
    }

    @media screen and (min-width: 780px){
        header{
            padding-left: 80px;
            padding-right: 80px;
        }

        .icone {
            display: none;
        }

        .ul_nav{
            display: flex;
            gap: 60px;
        
        }

        .menu-aberto{
            display: none;
        }
    }

/* Fim do header */

/* Call to Action */


.call-to-action{
background-color: #0349C2;
margin-top: 0;
padding-bottom: 50px;
}

.call-to-action h1{
    margin-top: 0;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    /* font-size: clamp(20px, 3vw, 34px); */
    font-size: clamp(26px, 3vw, 34px);
    text-align: center;
}

.call-to-action .conteudo{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.lista-um, .lista-dois{
    color: white;
    font-family: 'Open Sans';
    font-weight: 900;
    display: flex;
    gap: 30px;
    font-size: clamp(12px, 0.9vw, 15px);
    padding-left: 15px;
    justify-content: center;

}


.button-orcamento{
    background-color: #011A42;
    border: #011A42;
    width: 180px;
    height: 55px;
    margin-top: 20px;
    border-radius: 9px;

}

.button-orcamento:hover{
    transform: scale(1.02);

}

.button-orcamento a{
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 16px;

}

.imagem-principal{
    display: none;
}

.imagem-principal-mobile{
    display: block;
    max-width: 190px;
}

.flex-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 780px){
    .imagem-principal{
        display: block;
    }

    .imagem-principal-mobile{
        display: none;
    }
}














/* Main */

main{
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    font-family: 'Poppins';
    color: #011A42;
}

.sunioweb{
    color: white;
    background-color: #0349C2;
    padding: 3px;
    border-radius: 6px;
}

.introducao{
    color: #011A42;
    font-family: 'Open Sans';
}

.texto_sobre{
    font-family: 'Open Sans';
}

hr{
    background-color: #011A42;
    height: 10px;
}