.wpp{
    position: fixed;
    right: 15px;
    bottom: 25px;
}

footer{
    margin-top: 10px;
    background-color: #0349C2;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer h3{
    text-align: center;
    color: white;
}