

















/* Main */

main{
    background-color: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    padding-top: 20px;
}

.titulo_conteudo{
    font-family: 'Poppins';
    color: #011A42;
    margin-top: 50px;
    font-size: 28px;
}

.sobre{
    padding-left: 20px;
    padding-right: 20px;
}

    /* .sobre h2{
        padding-left:15px; 
    } */

.sunioweb{
    color: white;
    background-color: #0349C2;
    padding: 3px;
    border-radius: 6px;
}

.introducao{
    color: #011A42;
    font-family: 'Open Sans';
}

.texto_sobre{
    font-family: 'Open Sans';
}

hr{
    background-color: #011A42;
    height: 10px;
}


.servicos div{
    background-color: #fff;
    /* border: 2px solid black; */
    box-shadow: 2px 3px 4px;
    text-align: left;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;  
    padding-bottom: 10px;
    margin-bottom: 20px;
 }

 .servicos h3{
    padding-left: 15px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #011A42;
   }

.servicos div span{
    display: flex;
    gap: 2px;
    align-items: center;
    padding-left: 10px;
}

.texto_servico{
    font-family: 'Open Sans';
    padding: 0px 15px 0px 15px;
}


    .button_servico{
        background-color: #0349C2;
        border: #0349C2;
        width: 150px;
        height: 40px;
        border-radius: 7px;
        margin-left: 15px;
        color: white;
        font-family: 'Poppins';
    }

    .button_servico a{
        color: white;
        text-decoration: none;
       
    }

    .button_servico:hover{
        background-color: rgba(3, 73, 194, 90%);
    }

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio figure{
    margin-bottom: 25px;
}

.portfolio figcaption{
    font-family: 'Poppins';
    color: #011A42;
    font-weight: 500;
    }

    .projetos{
    border-radius: 10px;
    }

    .sobre div form{
        width: 90%;
        margin: 0 auto;
    }

    .sobre label{
        display: block;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    .sobre input{
        width: 100%;
        max-width: 400px;
        height: 30px;
        border-radius: 5px;
        border: #0349C2 2px solid;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .sobre textarea{
        width: 100%;
        max-width: 400px;
        border-radius: 5px;
        border: #0349C2 2px solid;
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
    }

    .sobre button{
        background-color: #0349C2;
        border: #0349C2;
        width: 150px;
        height: 40px;
        border-radius: 7px;
        color: white;
        font-family: 'Poppins';
    }

    .sobre button:hover{
        background-color: rgba(3, 73, 194, 90%);
    }

    .button_form:hover{
        cursor: pointer;
    }


@media screen and (min-width: 780px) {


   main .titulo_conteudo, .introducao, .texto_sobre, .sobre h2{
    padding-left: 70px;
    max-width: 1100px;
   }


   .servicos{
    width: 89%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
    
   }


   .servicos div{
    width: 49%;  
 }

 .portfolio{
    flex-direction: row;
    flex-wrap: wrap;
    gap: -30px;
 }
  

.sobre{
    display: flex;
    flex-wrap: wrap;
}

.sobre div{
    width: 49%;
}

.sobre form{
    padding-left: 70px;
}
    .sobre label{
        display: block;
        font-family: 'Open Sans';
        font-weight: 600;
    }

    .sobre input{
        width: 100%;
        max-width: 400px;
        height: 30px;
        border-radius: 5px;
        border: #0349C2 2px solid;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .sobre textarea{
        width: 100%;
        max-width: 400px;
        border-radius: 5px;
        border: #0349C2 2px solid;
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
    }

    .sobre button{
        background-color: #0349C2;
        border: #0349C2;
        width: 150px;
        height: 40px;
        border-radius: 7px;
        color: white;
        font-family: 'Poppins';
    }

    .sobre button:hover{
        background-color: rgba(3, 73, 194, 90%);
    }
    
}